<!DOCTYPE html>
<html>
<head>
    <title>Drop & Share</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
    
    <div class="container">
        <div class="header">
            <a href="https://rockdasnetz.de" target="_blank">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
        </div>
        <br>
        <p>Want to share a file fast and secure? Drop2Share let´s you upload a file by draging it into the upload area using an encrypted connection. 
           It changes the clear filename to a random one to serve you a download link, that works for 24 hour. 
           24 hours later, your uploaded file will be deleted automaticly without a trace!
        </p>
        <div class="content">
            <div class="drop-area" id="dropArea">
                <div class="instructions">
                    <p>Drop & Share your File!</p>
                </div>
                <input type="file" id="fileInput" class="file-input" multiple>
            </div>
            <div id="uploadProgress" class="upload-progress hidden">
                <div class="progress-bar"></div>
            </div>
            <div id="uploadSuccess" class="upload-success hidden">
                <p class="success-message">File uploaded successfully!</p>
                <p>Filename: <span id="fileName"></span></p>
                <p>Download Link: <a id="downloadLink" href="" target="_blank"></a></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
