<!DOCTYPE html>
<html>
<head>
    <title>Drop & Share</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
    
    <div class="container">
        <div class="header">
            <a href="https://rockdasnetz.de" target="_blank">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
        </div>
        <br>
        <p style="display: block;"><b>Encrypted File Sharing with Built-In Auto-Removal</b></p>
        <br>
        <p style="display: block;">
        Drop2Share offers a fast and secure way to share files.
        The service uses an encrypted connection to ensure the security and privacy of the uploaded files.       
        Drop2Share changes the original filename to a random one. This adds an extra layer of anonymity to the shared file.        
        After uploading a file, the service provides a download link that is valid for 24 hours. Users can access the shared file through this link during that time.        
        After 24 hours, the uploaded file is automatically deleted without leaving any traces. This feature enhances the privacy and security of the shared content.
        </p>        
        <br>
        <div class="content">
            <div class="drop-area" id="dropArea">
                <div class="instructions">
                    <p>Drop & Share your File!</p>
                </div>
                <input type="file" id="fileInput" class="file-input" multiple>
            </div>
            <div id="uploadProgress" class="upload-progress hidden">
                <div class="progress-bar"></div>
            </div>
            <div id="uploadSuccess" class="upload-success hidden">
                <p class="success-message">File uploaded successfully!</p>
                <p>Filename: <span id="fileName"></span></p>
                <p>Download Link: <a id="downloadLink" href="" target="_blank"></a></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
