<!DOCTYPE html>
<html>
<head>
    <title>Upload Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="https://rockdasnetz.de" target="_blank">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
        </div>
        <div class="content">
            <p class="success-message">File uploaded successfully!</p>
            <p>Filename: {{ filename }}</p>
            <p>Download Link: <a href="{{ download_link }}" target="_blank">{{ download_link }}</a></p>
        </div>
    </div>
</body>
</html>
